.App {
  text-align: center;
  margin-top: 270px;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}